.main {
  height: 100vh;
  background-color: black;
  position: relative;

  .body,
  .mask {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afa18f;
    font-size: 64px;
    list-style: 66px;
    cursor: default;
    font-weight: 600;
    span {
      color: #ec4e39;
    }
    p {
      width: 1000px;
    }
  }

  .mask {
    position: absolute;
    mask-image: url("../../../../public/circle.svg");
    background: #ec4e39;
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 500px;
    color: black;
  }
}
